@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&family=Pixelify+Sans&family=Teko:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Edu TAS Beginner', cursive;
}

body, html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

nav{
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100vw;
    height: 80px;
}
    nav .box{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
        width: 40%;
        height: 90%;
        background-color: #F9461F;
    }
        nav .box a{
            display: inline-block;
            position: relative;
            font-size: 18px;
            /* -webkit-text-stroke: .5px #ff0000; */
            font-weight: bolder;
            color: #fff;

            &::after{
                display: flex;
                content: "";
                position: relative;
                width: 0%;
                height: 5px;
                background-color: #F9461F;
                transition: all .4s;
            }
            &:hover::after{
                width: 100%;
            }
            &.active::after{
                width: 100%;
                background-color: #FF0000;
            }
        }

.bulle{
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    padding: 30px;
    background-color: #F9461F;
    animation: start 1s forwards;
}
    .bulle.deco{
        right: -13vw;
        top: -15px;
        width: calc(30vw - 30px);
        height: calc(30vw - 30px);
        border: 3px solid #fff;
        animation: start 1s forwards;
    }

section{
    position: relative;
    width: 100vw;
    height: calc(100vh - 80px);
}
    section .bulle.info{
        display: flex;
        align-items: baseline;
        justify-content: center;
        flex-direction: column;
        width: calc(30vw - 30px);
        height: calc(30vw - 30px);
        animation: start 1.3s forwards;
    }
    section .bulle.photo{
        padding: 10px;
        left: 30vw;
        top: 35vh;
        width: calc(30vw - 30px);
        height: calc(30vw - 30px);
        animation: start 1.7s forwards;
    }
        section .bulle.photo img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 50%;
        }

    
@keyframes start {
    0%{transform: translateY(-150px);}
    100%{transform: translateY(0px);}
}